@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
	padding: 0;
	margin: 0 auto;
}

/*LETRAS DO MENU*/
.MenuItens{
	margin-top: 10px;
	background-image: radial-gradient(rgb(150, 223, 91), rgb(7, 70, 1));
	height: 9vh;
	width: 95%;
	border-style: outset;
	border-color: #e5f051;
	border-radius: 50px;
	display: inline-flex;
	align-items: center;
	z-index: 10;
}
.MenuItens ul{
	position: relative;
	left: -3vh;
	justify-content: space-around;
	list-style: none;
	text-decoration: none;
	display:inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: auto;
	z-index: 10;
}
.MenuItens ul li a{
	font-size: 3vw;
	color: rgb(0, 255, 149);
	font-weight: bold;
	font-style: italic;
	z-index: 10;
}
.MenuItens ul li a:hover{
	font-size: 3.25vw;
	transition: .4s;
	color: rgb(131, 255, 205);
	font-weight: bold;
	font-style: italic;
	z-index: 10;
}
.MenuItens ul li a:active{
	font-size: 3.5vw;
	transition: .4s;
	color: rgb(224, 255, 243);
	font-weight: bold;
	font-style: italic;
	z-index: 10;
}
.MenuItens ul li:before{
	content: attr(data-text);
	position: absolute;
	color: #e7b201;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 100%);
	font-size: 10vw;
	font-weight: 900;
	pointer-events: none;
	opacity: 0;
	letter-spacing: 20px;
	white-space: nowrap;
	transition: 0.8s;
}
.MenuItens ul li:hover:before{
	opacity: 1;
	letter-spacing: 0px;
}
/*Fim LETRAS DO MENU*/

/*Body*/
/*Title*/
.TITULO3{
	animation: Treme3 7.1s linear;
	animation-iteration-count: calc(2);
	position: absolute;
	font-family: 'Bebas Neue', cursive;
	font-size: 7vw;
	color: rgb(255, 0, 191);
  	top: 23.1%;
  	left: 50.1%;
  	transform: translate(-50%,-50%);
}
.TITULO2{
	animation: Treme2 6.9s linear;
	animation-iteration-count: calc(2);
	position: absolute;
	font-family: 'Bebas Neue', cursive;
	font-size: 7vw;
	color: rgb(81, 255, 0);
  	top: 22.8%;
  	left: 49.8%;
  	transform: translate(-50%,-50%);
	background-image: linear-gradient(rgb(217, 255, 0), rgb(255, 123, 0));
 	background-size: 100% 30%;
  	background-repeat: no-repeat;
  	background-position: 100% 0%;
   	transition: background-size .7s, background-position .5s ease-in-out;
}
.TITULO{
	animation: Treme1 7s linear;
	animation-iteration-count: calc(2);
	position: absolute;
	font-family: 'Bebas Neue', cursive;
	font-size: 7vw;
  	top: 23%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	background-image: linear-gradient(rgb(166, 255, 0), rgb(255, 230, 0));
	background-size: 100% 30%;
	background-repeat: no-repeat;
	background-position: 100% 100%;
   	transition: background-size .7s, background-position .5s ease-in-out;
}
@keyframes Treme1 {
	12.5%{top: 23.05%; left: 50.05%;}
	25%{top: 22.05%; left: 50.05%;}
	37.5%{top: 22.05%; left: 49.05%;}
	50%{top: 22.05%; left: 50.05%;}
	62.5%{top: 23.05%; left: 49.05%;}
	75%{top: 23.5%; left: 50.5%;}
	87.5%{top: 22.5%; left: 49.5%;}
	90%{top: 23.5%; left: 49%;}
	100%{top: 23%; left: 50%;}
}
@keyframes Treme2 {
	12.5%{top: 23.0%; left: 50.04%;}
	25%{top: 22.0%; left: 50.04%;}
	37.5%{top: 22.0%; left: 49.04%;}
	50%{top: 22.0%; left: 50.04%;}
	62.5%{top: 23.0%; left: 49.04%;}
	75%{top: 23.4%; left: 50.4%;}
	87.5%{top: 22.4%; left: 49.4%;}
	90%{top: 23.4%; left: 48.8%;}
	100%{top: 22.8%; left: 49.8%;}
}
@keyframes Treme3 {
	12.5%{top: 23.2%; left: 50.07%;}
	25%{top: 22.2%; left: 50.07%;}
	37.5%{top: 22.2%; left: 49.07%;}
	50%{top: 22.2%; left: 50.07%;}
	62.5%{top: 23.2%; left: 49.07%;}
	75%{top: 23.7%; left: 50.7%;}
	87.5%{top: 22.7%; left: 49.7%;}
	90%{top: 23.7%; left: 49.2%;}
	100%{top: 23.1%; left: 50.1%;}
}
/*Fim Title*/

/*Cadastro do site*/
.divcadastro{
	position: relative;
	left: 0vh;
	top: 25vh;
	height: auto;
	width: 50vw;
	border-style: solid;
	background-color: rgba(240, 248, 255, 0.2);
	padding-top: 4vh;
	padding-left: 2vh;
	padding-right: 2vh;
	padding-bottom: 4vh;
	backdrop-filter: blur(3px);
}
.title_cadas{
	color: rgb(0, 0, 0);
	text-align: center;
	font-weight: bolder;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 2.5vw;
	text-shadow: 2px 2px #ff9100;
	padding-bottom: 2vh;
}
.desc_cadas{
	color: rgb(212, 156, 0);
	text-shadow: 2px 2px #2e2500;
	text-align: justify;
	font-weight: 800;
	font-size: 1.5vw;
	padding-bottom: 2vh;
}
tr{
	display: flex;
	justify-content: space-evenly;
}
.Email1{
	display: inline-flex;
	color: rgb(105, 218, 0);
	text-shadow: 2px 2px #000000;
	font-weight: 900;
	font-size: 1.75vw;
}
.Email2{
	display: inline-flex;
	padding-bottom: 2vh;
	padding-left: 2vw;
}
.Email2 > input{
	width: 20vw;
	color: rgb(0, 0, 0);
	font-weight: bolder;
	font-size: 2vw;
	border: outset rgb(216, 238, 16);
	padding: 1vh;
}
.Senha1{
	display: inline-flex;
	color: rgb(105, 218, 0);
	text-shadow: 2px 2px #000000;
	font-weight: 900;
	font-size: 1.75vw;
}
.Senha2{
	display: inline-flex;
	padding-left: 2vw;
	padding-bottom: 2vh;
}
.Senha2 > input{
	width: 20vw;
	color: rgb(0, 0, 0);
	font-weight: bolder;
	font-size: 2vw;
	border: outset rgb(216, 238, 16);
	padding: 1vh;
}
#BTNcadastro{
	border: 4px outset rgb(142, 170, 19);
	border-radius: 0.6vw;
	font-size: 2vw;
	font-weight: bolder;
	text-shadow: 2px 2px rgb(0, 255, 34);
	background-color: rgba(187, 255, 0, 0.9);
}
#BTNcadastro:hover{
	transition: .4s;
	border: 3px outset rgb(6, 53, 0);
	border-radius: 0.65vw;
	font-size: 2.3vw;
	font-weight: bolder;
	text-shadow: 2px 2px rgb(47, 150, 0);
	background-color: rgba(157, 255, 0, 0.767);
}
#BTNcadastro:active{
	transition: .4s;
	border: 3px outset rgb(6, 53, 0);
	border-radius: 0.7vw;
	font-size: 2.5vw;
	font-weight: bolder;
	text-shadow: 2px 2px rgb(34, 107, 0);
	background-color: rgba(255, 255, 255, 0.767);
}
.cadastrar{
	padding-top: 2vh;
	text-align: center;
}
/*Fim Cadastro do site*/

/*Descrição do site*/
.divdesc{
	position: absolute;
	top: 35%;
	left: 0%;
	width: 100%;
	border-style: solid;
	border-left: none;
	border-right: none;
	background-color: rgba(240, 248, 255, 0.2);
	padding-top: 1vw;
	padding-bottom: 1vw;
	backdrop-filter: blur(2px);
	flex-wrap: wrap;
	flex-direction: row;
	display: inline-flex;
}
.content1, .content2, .content3, .content4{
	margin-left: 2vw;
	margin-right: 2vw;
	text-align: justify;
	word-wrap: break-word;
	width: 45vw;
}
.desc1, .desc2, .desc3, .desc4{
	color: rgb(132, 194, 17);
	text-shadow: 2px 2px rgb(58, 31, 0);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.8vw;
}
.tabledesc{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
/*Fim Descrição do site*/

.Background{
	background-image: url("imgs/Xadrez2.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
}

/*Peao FX body*/
.peoes{
	position: absolute;
	width: 100%;
	height: 110%;
	overflow: hidden;
	pointer-events: none;
}
.peoes  .peaofx{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}
.peoes  .peaofx  div{
	position: absolute;
	display: block;
}
.peoes  .peaofx  div:nth-child(1){
	left: 20%;
	top: 0%;
	z-index: 15;
	animation: rotation 14s linear infinite;
}
.peoes  .peaofx  div:nth-child(2){
	left: 5%;
	top: 30%;
	z-index: 15;
	animation: rotation2 16s linear infinite;
}
.peoes  .peaofx  div:nth-child(3){
	left: 15%;
	top: 45%;
	z-index: -15;
	animation: rotation2 10s linear infinite;
}
.peoes  .peaofx  div:nth-child(4){
	left: 60%;
	z-index: -15; /*Centro*/
	top: 60%;
	animation: rotation 11s linear infinite;
}
.peoes  .peaofx  div:nth-child(5){
	left: 85%;
	z-index: -15;
	top: 15%;
	animation: rotation2 18s linear infinite;
}
.peoes  .peaofx  div:nth-child(6){
	left: 70%;
	top: 0%;
	z-index: 15;
	animation: rotation2 12s linear infinite;
}
.peoes  .peaofx  div:nth-child(7){
	left: 90%;
	top: 15%;
	z-index: 15;
	animation: rotation 14s linear infinite;
}
.peoes  .peaofx  div:nth-child(8){
	left: 50%;
	top: 0%;
	z-index: -15;
	animation: rotation2 15s linear infinite;
}
@keyframes rotation{
	0%{opacity: 0; top: -15%; transform: translatex(20px) rotate(0deg);}
	10%{opacity: 1;}
	20%{transform: translateX(-20px) rotate(45deg);}
	40%{transform: translateX(-20px) rotate(90deg);}
	60%{transform: translateX(20px) rotate(180deg);}
	80%{transform: translateX(-20px) rotate(270deg);}
	100%{transform: translateX(20px) rotate(360deg); top: 110%;}
}
@keyframes rotation2{
	0%{opacity: 0; top: -10%; transform: translatex(20px) rotate(0deg);}
	10%{opacity: 1;}
	20%{transform: translateX(-20px) rotate(-45deg);}
	40%{transform: translateX(-20px) rotate(-90deg);}
	60%{transform: translateX(20px) rotate(-180deg);}
	80%{transform: translateX(-20px) rotate(-270deg);}
	100%{transform: translateX(20px) rotate(-360deg); top: 110%;}
}
/*Fim Peao FX body*/
/*Fim BODY*/